<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Upload a history file</title>
  {{ dropzone.load_css() }}
  {{ dropzone.style('border: 2px dashed #0087F7;') }}
</head>
<body>
  {{ dropzone.create(action='history.add_history') }}
  {{ dropzone.load_js() }}
  {{ dropzone.config() }}
  {% if historyGraphJSON %}
  <div id="history" class="chart"></div>
  {% endif %}
  {% if seasonalityGraphJSON %}
  <div id="seasonality" class="chart"></div>
  {% endif %}
</body>
<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
<script type="text/javascript">
  var historyGraph = {{historyGraphJSON | safe}};
  Plotly.newPlot('history',historyGraph,{});
</script>
<script type="text/javascript">
  var seasonality = {{seasonalityGraphJSON | safe}};
  Plotly.newPlot('seasonality',seasonality,{});
</script>
</html>